:root{
    --color-white: #FFFFFF;
    --black: #2C2A32;
    --color-light-grey: #F2F2F2;
    --color-lightest-orange: #FFF7E8;
    --orange: #FF9150;
    --blue: #8286DB;
    --green: #56BA8D;
    --padding: 15%;
    --padding2: 16px;
    --header: 80px;
    --header-mobile: 62px;
    --footer: 85px;
    --footer-mobile: 60px;
}

@font-face {
    font-family: "San Francisco";
    src: url("./font/SF-Pro-Display-Regular.otf") format("opentype");
    font-weight: normal;
  }

@font-face {
    font-family: "San Francisco";
    src: url("./font/SF-Pro-Display-Semibold.otf") format("opentype");
    font-weight: 600;
  }

@font-face {
    font-family: "San Francisco";
    src: url("./font/SF-Pro-Display-Medium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "San Francisco";
    src: url("./font/SF-Pro-Display-Heavy.otf") format("opentype");
    font-weight: 800;
}

@font-face {
    font-family: "Occupator";
    src: url("/demo/font/Occupator.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: 'lesslens';
    src: url('/demo/font/lesslens.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.icon {
    display: inline-block;
    font: normal normal normal 1em/1 'lesslens';
    color: inherit;
    flex-shrink: 0;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-16 {
    font-size: 16px;
}
.icon-32 {
    font-size: 32px;
}

.icon-48 {
    font-size: 48px;
}

.icon-code::before {
    content: "\ea02";
  }
  
  .icon-lmb::before {
    content: "\ea03";
  }
  
  .icon-rmb::before {
    content: "\ea04";
  }
  
  .icon-wheel::before {
    content: "\ea05";
  }
  
  .icon-sun::before {
    content: "\ea06";
  }
  
  .icon-moon::before {
    content: "\ea07";
  }
  
  .icon-frame::before {
    content: "\ea08";
  }
  
  .icon-lens::before {
    content: "\ea09";
  }
  
  .icon-size::before {
    content: "\ea0a";
  }
  
  .icon-material::before {
    content: "\ea0b";
  }
  
  .icon-photo::before {
    content: "\ea0c";
  }
  
  .icon-phone::before {
    content: "\ea0d";
  }
  
  .icon-e-mail::before {
    content: "\ea0e";
  }
  
  .icon-instagram::before {
    content: "\ea0f";
  }


* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'San Francisco', sans-serif;
    margin: 0 auto;
    width: 100vw;
    margin-top: calc(60px + 8px);
    display: flex;
}

hr {
    width: 100%;
    border: 1px solid var(--color-light-grey);
}
h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 122%;
    letter-spacing: 0.015em;
    margin: 0;
}

h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 122%;
    letter-spacing: 0.015em;
    margin: 0;
}

h6 {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.04em;
    margin: 0;
}
p {
    font-family: "San Francisco", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.04em;
    margin: 0;
}

header{
    font-family: 'San Francisco', sans-serif;
    /* font-family: 'Occupator'; */
    color: #4E5B6A;
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    display: flex;
    flex-direction: column;

    background-color: var(--color-white);
}

.menu {
    height: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: min-content auto repeat(3, min-content);
    gap: 16px;
    align-items: center;
    padding: 0 44px;
}

.logo-title {
    mix-blend-mode: difference;
}

.logo-icon {
    height: 35px;
}

.color-strip {
    width: 100%;
    height: 8px;
    background: linear-gradient(
        90deg, 
        rgba(212,10,37,1) 0%, 
        rgba(212,10,37,1) 20%, 
        rgba(253,130,36,1) 20%,
        rgba(253,130,36,1) 40%, 
        rgba(254,181,43,1) 40%,
        rgba(254,181,43,1) 60%,
        rgba(122,189,49,1) 60%,
        rgba(122,189,49,1) 80%,
        rgba(22,140,213,1) 80%,
        rgba(22,140,213,1) 100%);
}

section {
    width: 100%;
    display: flex;
} 

#scene {
    position: relative;
    width: 100%;
    height: calc(100vh - 68px);
    background-color: var(--color-light-grey);
}

.scene-bar {
    position: absolute;
    display: grid;
    grid-template-columns: auto min-content;
    bottom: 0;
    width: 100%;
    padding: 32px 44px;
    align-items: center;
    gap: 16px;
}

.scene-guide {
    display: grid;
    grid-template-columns: min-content min-content 16px min-content min-content;
    align-items: center;
    gap: 6px;
    color: var(--black);
}

#qr {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--color-white);
    background-color: var(--black);
    border-radius: 6px;
    padding: 8px 16px;
    cursor: pointer;
}

#tryon {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--color-white);
    background-color: var(--black);
    border-radius: 6px;
    padding: 8px 16px;
    cursor: pointer;
}

#tryon, a {
    white-space: nowrap;
}

#tryon-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30%;
    gap: 44px;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    color: var(--black);
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    z-index: 10;
}


.description {
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: flex-start;
    width: 40vw;
    padding: 44px 51px;
    border-left: 1px solid var(--color-light-grey);
}

.feature {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto;
    grid-template-areas:    'icon title'
                            'icon value';
    gap: 2px 16px;
}

.feature > .icon {
    grid-area: icon;
    color: var(--blue);
}
.feature > p {
    grid-area: title;
}
.feature > h6 {
    grid-area: value;
}



footer {
    height: 250px;
    width: 100%;
    background-color: var(--black);

}


@media screen and (max-width: 900px) {

    h1, h2 {
        font-size: 36px;
    }

    h6 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    section {
        flex-direction: column;
    }

    #scene {
        height: 50vh;
    }

    .scene-bar {
        padding: 16px;
    }

    .description {
        width: 100%;
        padding: 24px 16px;
        border-left: none;
        border-top: 1px solid var(--color-light-grey);
    }
    
}



